body {
  font-family: sans-serif;
  background: linear-gradient(to bottom right, #b8e6b8, #d9f2d9);
  margin: 0;
  padding: 0;
  text-align: center;
}

#controls {
  margin: 10px;
}

#rules {
  background: #ffffffcc;
  margin: 10px auto;
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: left;
}

.hidden {
  display: none;
}

canvas {
  background-color: #ffffffaa;
  border: 1px solid #999;
  margin-top: 10px;
}
